<footer>
  <div class="footer_container">
    <div class="footer_col1">
      <span class="title_footer">MNTN</span>
      <p>Get out there & discover your next slope, mountain & destination!</p>

    </div>
    <div class="footer_col2">
      <span class="footer_title">More on The Blog</span>
      <a href="#">About MNTN</a>
      <a href="#">Contributors & Writers</a>
      <a href="#">Write For Us</a>
      <a href="#">Contact Us</a>
      <a href="#">Privacy Policy</a>
    </div>
    <div class="footer_col3">
      <span class="footer_title">More on MNTN</span>
      <a href="#">The Team</a>
      <a href="#">Jobs</a>
      <a href="#">Press</a>
    </div>

  </div>
</footer>