<section>
  <div class="section_container">
    <div class="section_txt section2">
      <span class="number">02</span>
      <span class="start">
        <img src="../../../assets/icons/Rectangle 2.1.png" alt="">
        Hiking essentials
        <img class="responsive_rectangle" src="../../../assets/icons/Rectangle 2.1.png" alt="">

      </span>
      <h2>Picking the right Hiking Gear!</h2>
      <p>The nice thing about beginning hiking is that you don’t really need any special gear, you can probably get away
        with things you already have. Let’s start with clothing. A typical mistake hiking beginners make is wearing
        jeans and regular clothes, which will get heavy and chafe wif they get sweaty or wet.
      </p>
      <span class="read_more">
        <a href="#">read more
          <img src="../../../assets/icons/yellowArrow.png" alt="">
        </a>
      </span>
    </div>

    <div class="section_image section2_image">
      <img src="../../../assets/images/02.png" alt="man on the mountain">
    </div>
  </div>
</section>