<div class="global_container">
  <div class="background">
    <app-header id="home" class="hidden" />
    <app-main id="home" class="hidden" />
  </div>
  <div class="divider"></div>
  <div class="section_container">
    <app-section id="section1" class="hidden" />
    <app-section2 id="section2" class="hidden" />
    <app-section3 id="section3" class="hidden" />
  </div>
  <app-footer />
  <div class="navigation">
    <span class="navigation_item" (click)="backHome()">
      <img src="../assets/icons/botao-de-inicio.png" alt="">
    </span>

    <span class="navigation_item" (click)="backSection1()">01</span>

    <span class="navigation_item" (click)="backSection2()">02</span>

    <span class="navigation_item" (click)="backSection3()">03</span>
  </div>



  <div class="copy_container">
    <span class="copy">&copy;Copyright 2023 MNTN, Inc. Terms & Privacy</span>
    <span class="copy">Made by LFzinn</span>
  </div>


</div>







<app-modal *ngIf="modalService.isModalOpen()" (close)="closeModal()">
  <ng-content></ng-content>
</app-modal>