<section>
  <div class="section_container">
    <div class="section_txt">
      <span class="number">03</span>
      <span class="start">
        <img src="../../../assets/icons/Rectangle 2.1.png" alt="">
        where you go is the key
        <img class="responsive_rectangle" src="../../../assets/icons/Rectangle 2.1.png" alt="">

      </span>
      <h2>Understand Your Map & Timing</h2>
      <p>To start, print out the hiking guide and map. If it’s raining, throw them in a Zip-Lock bag. Read over the
        guide, study the map, and have a good idea of what to expect. I like to know what my next landmark is as I hike.
        For example, I’ll read the guide and know that say, in a mile, I make a right turn at the junction..
      </p>
      <span class="read_more">
        <a href="#">read more
          <img src="../../../assets/icons/yellowArrow.png" alt="">
        </a>
      </span>
    </div>

    <div class="section_image">
      <img src="../../../assets/images/03.png" alt="man on the mountain">
    </div>
  </div>
</section>