<main>
  <div class="main_container">

    <div class="social_links">
      <nav>
        <span>Follow us</span>
        <a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/icons/instagram.png" alt=""></a>
        <a href="https://twitter.com/home" target="_blank"><img src="../../../assets/icons/twitter.png" alt=""></a>
      </nav>
    </div>

    <div class="main_content">
      <span class="guide">
        <img src="../../../assets/icons/Rectangle 2.1.png" alt="">
        A hiking guide
        <img src="../../../assets/icons/Rectangle 2.1.png" alt="">
      </span>
      <h1>Be Prepare For The Mountains And Beyound!</h1>
      <span (click)="toSection1()" routerLinkActive="active" class="scroll_down">
        scroll down
        <img src="../../../assets/icons/arrow_downward_24px.png" alt="arrow icon">
      </span>
    </div>

    <div class="social_links">
      <nav>
        <span>Follow us</span>
        <a href="https://github.com/LFzinn" target="_blank"><img src="../../../assets/icons/github.png" alt=""></a>
        <a href="https://www.linkedin.com/in/lfsilvaferreira/" target="_blank"><img
            src="../../../assets/icons/linkedin.png" alt=""></a>
      </nav>
    </div>





  </div>
</main>