<section>
  <div class="section_container">
    <div class="section_txt">
      <span class="number">01</span>
      <span class="start">
        <img src="../../../assets/icons/Rectangle 2.1.png" alt="">
        Get started
        <img class="responsive_rectangle" src="../../../assets/icons/Rectangle 2.1.png" alt="">
      </span>
      <h2>What level of hiker are you?</h2>
      <p>Determining what level of hiker you are can be an important tool when planning future hikes. This hiking level
        guide will help you plan hikes according to different hike ratings set by various websites like All Trails and
        Modern Hiker. What type of hiker are you – novice, moderate, advanced moderate, expert, or expert backpacker?
      </p>
      <span class="read_more">
        <a href="#">read more
          <img src="../../../assets/icons/yellowArrow.png" alt="">
        </a>
      </span>
    </div>

    <div class="section_image">
      <img src="../../../assets/images/01.png" alt="man on the mountain">
    </div>
  </div>
</section>